[Unit]
Description=Bluetooth Watcher for Controller
After=bluetooth.service
Requires=bluetooth.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/x/PiTank_gamepad.py
Restart=on-failure
User=x
WorkingDirectory=/home/x
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
